<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js"></script>
     </head>
<body>
<p>cool</p>
<script type="application/processing" data-processing-target="my_canvas1">

float framerate = 24; // our "sketch" will have a framerate of 24 frames per second.
 
   int ball_x;           // ball administration: x coordinate
   int ball_y;           // ball administration: y coordinate
   int ball_radius = 20; // ball administration: ball radius
 
   void setup() {
    size(200,200);       // set draw area size
     frameRate(framerate); // set animation framerate
   ball_x = width/2;     // set the initial ball coordinates
   ball_y = ball_radius; // set the initial ball coordinates
     stroke(#008000);      // set the default shape outline colour
    fill(#0D0207);        // set the default shape fill colour
  }

  void draw() {
    // compute the ball height for this frame
     float bounce_height = height/2 * abs(sin(PI*frameCount/framerate));
     // because the top of the screen is 0, and the bottom is "height",
    float ball_height = height - (bounce_height+ball_radius);
     // clear the drawing area
     background(#0000FF);
     // set the new ball y position
     ball_y = (int) (ball_height);
     // draw the ball
    ellipse(ball_x,ball_y,ball_radius,ball_radius);
  }
  </script>
  
  <hr>
  <script type="application/processing" data-processing-target="my_canvas2">
    float framerate = 24; // our "sketch" will have a framerate of 24 frames per second.
 
    int ball_x;           // ball administration: x coordinate
    int ball_y;           // ball administration: y coordinate
    int ball_radius = 40; // ball administration: ball radius
  
    void setup() {
     size(200,200);       // set draw area size
      frameRate(framerate); // set animation framerate
    ball_x = width/2;     // set the initial ball coordinates
    ball_y = ball_radius; // set the initial ball coordinates
      stroke(#030D02);      // set the default shape outline colour
     fill(#B087A2);        // set the default shape fill colour
   }
 
   void draw() {
     // compute the ball height for this frame
      float bounce_height = height/2 * abs(sin(PI*frameCount/framerate));
      // because the top of the screen is 0, and the bottom is "height",
     float ball_height = height - (bounce_height+ball_radius);
      // clear the drawing area
      background(#180411);
      // set the new ball y position
      ball_y = (int) (ball_height);
      // draw the ball
     ellipse(ball_x,ball_y,ball_radius,ball_radius);
   }
</script>

<script type="application/processing" data-processing-target="my_canvas3">
    Bouncer bouncer;
 
   void setup() {
     size(200,200);
     frameRate(24);
     stroke(#003300);
     fill(#0000FF);
     bouncer = new Ball(width/2,20,20);
   }

  void draw() {
    bouncer.computeNextStep(width, height, frameRate);
    background(#FFFFEE);
    bouncer.draw();
   }
 
   interface Bouncer {
    void computeNextStep(int width, int height, float framerate);
     void draw();
   }
 
   class Ball implements Bouncer
   {
     int x,y,radius;
    int step = 0;

     Ball(int x, int y, int r) {
      this.x = x;
       this.y = y;
       this.radius = r;
     }
 
    void computeNextStep(int sketch_width, int sketch_height, float frame_rate) {
      step++;
      float sin_value = abs(sin(PI*step/(float)frame_rate));
       float bounce_height = sketch_height/2 * sin_value;
       float ball_height = sketch_height - (bounce_height + radius);
      y = (int) (ball_height);
    }

    void draw() {
      ellipse(x,y,radius,radius);
     }
   }
</script>
<script type="application/processing" data-processing-target="my_canvas4">
 Bouncer bouncer;
 void setup() {
    size(200,200);
    frameRate(24);
    stroke(#003300);
    fill(#0000FF);
    bouncer = new Box(width/2,20,20,20);
 }
void draw() {
        bouncer.computeNextStep(width, height, frameRate);
        background(#FFFFEE);
        bouncer.draw();
       }
       interface Bouncer {
        void computeNextStep(int width, int height, float framerate);
         void draw();
       }

       class Box implements Bouncer
         {
            int x,y,w,h;
           int step = 0;
       
           Box(int x, int y, int w, int h) {
             this.x = x;
              this.y = y;
              this.w = w;
             this.h =h ;
           }
           void computeNextStep(int sketch_width, int sketch_height, float frame_rate) {
                  step++;
                  float sin_value = abs(sin(PI/2.0 + (PI*step/(float)frame_rate)));
                  float bounce_height = sketch_height/2 * sin_value;
                 float ball_height = sketch_height - (bounce_height + h);
                  y = (int) (ball_height);
                 }
         void draw() {
            rect(x,y,w,h);
                        }
  }
  

</script>
<script type="application/processing" data-processing-target="my_canvas5">
    Bouncer[] bouncer = new Bouncer[3];
    void setup() {
        size(200,200);
        frameRate(24);
        stroke(#003300);
        fill(#0000FF);
        bouncer[0] = new Ball(width/3-20,20,20);
        bouncer[1] = new Box(width/2-10,20,20,20);
        bouncer[2] = new Ball((2*width/3)+20,20,20);
     }
     void draw() {
            for(int b=0, end=bouncer.length; b<end;b++) {
              bouncer[b].computeNextStep(width, height, frameRate);
            }
            background(#FFFFEE);
            for(int b=0, end=bouncer.length; b<end;b++) {
              bouncer[b].draw();
            }
          }
          interface Bouncer {
            void computeNextStep(int width, int height, float framerate);
             void draw();
           }
           class Box implements Bouncer
         {
            int x,y,w,h;
           int step = 0;
       
           Box(int x, int y, int w, int h) {
             this.x = x;
              this.y = y;
              this.w = w;
             this.h =h ;
           }
           void computeNextStep(int sketch_width, int sketch_height, float frame_rate) {
                  step++;
                  float sin_value = abs(sin(PI/2.0 + (PI*step/(float)frame_rate)));
                  float bounce_height = sketch_height/2 * sin_value;
                 float ball_height = sketch_height - (bounce_height + h);
                  y = (int) (ball_height);
                 }
         void draw() {
            rect(x,y,w,h);
                        }
  }
  class Ball implements Bouncer
   {
     int x,y,radius;
    int step = 0;

     Ball(int x, int y, int r) {
      this.x = x;
       this.y = y;
       this.radius = r;
     }
 
    void computeNextStep(int sketch_width, int sketch_height, float frame_rate) {
      step++;
      float sin_value = abs(sin(PI*step/(float)frame_rate));
       float bounce_height = sketch_height/2 * sin_value;
       float ball_height = sketch_height - (bounce_height + radius);
      y = (int) (ball_height);
    }

    void draw() {
      ellipse(x,y,radius,radius);
     }
   }
</script>
<script type="application/processing" data-processing-target="my_canvas6">
    Bouncer[] bouncer = new Bouncer[3];
   
    void setup() {
     size(200,200);
     frameRate(24);
      stroke(#003300);
      fill(#0000FF);
      bouncer[0] = new Ball(width/3-20,20,20);
      bouncer[1] = new Box(width/2-10,20,20,20);
     bouncer[2] = new Ball((2*width/3)+20,20,20);
   }
 
   void draw() {
     for(int b=0, end=bouncer.length; b<end;b++) {
      bouncer[b].computeNextStep(width, height, frameRate);
     }
     background(#FFFFEE);
     for(int b=0, end=bouncer.length; b<end;b++) {
       bouncer[b].draw();
     }
   }
 
   void mousePressed() {
     for(int b=0, end=bouncer.length; b<end;b++) {
       if(bouncer[b].mouseOver(mouseX, mouseY)) {
         bouncer[b].mousePressed();
       }
     }
   }
 
   void mouseReleased() {
     for(int b=0, end=bouncer.length; b<end;b++) {
     bouncer[b].mouseReleased();
     }
   }
 
   void mouseDragged() {
     for(int b=0, end=bouncer.length; b<end;b++) {
       bouncer[b].mouseDragged(mouseX, mouseY);
     }
   }
 
  abstract class Bouncer
   {
     int x, y;
     boolean canmove = true;
     int step = 0;
     int xoffset = 0;
     int yoffset = 0;
 
     void computeNextStep(int width, int height, float framerate) {
       if(canmove) {
         reallyComputeNextStep(width, height, framerate);
       }
     }
 
    abstract void reallyComputeNextStep(int width, int height, float framerate);
 
     abstract void draw();
 
     abstract boolean mouseOver(int mx, int my);
 
     void mousePressed() {
       canmove = false;
     }
 
     void mouseReleased() {
       canmove = true;
       x += xoffset;
       y += yoffset;
       xoffset = 0;
       yoffset = 0;
     }
 
     void mouseDragged(int mx, int my) {
       if(!canmove) {
        xoffset = mx-x;
         yoffset = my-y;
       }
     }
   }
 
   class Ball extends Bouncer
   {
     int radius;
 
     Ball(int x, int y, int r) {
       this.x = x;
       this.y = y;
       this.radius = r;
     }
 
     void reallyComputeNextStep(int sketch_width, int sketch_height, float frame_rate) {
       step = (int)((step+1) % frame_rate);
       float sin_value = abs(sin(PI*step/(float)frame_rate));
       float bounce_height = sketch_height/2 * sin_value;
       float ball_height = sketch_height - (bounce_height + radius);
       y = (int) (ball_height);
     }

    void draw() { ellipse(x+xoffset,y+yoffset,radius,radius); }

    boolean mouseOver(int mx, int my) {
      return sqrt((x-mx)(x-mx) + (y-my)(y-my)) <= radius;
    }
  }

  class Box extends Bouncer
  {
    int w,h;
    int step=0;

    Box(int x, int y, int w, int h) {
      this.x = x;
      this.y = y;
      this.w = w;
      this.h = h;
    }

    void reallyComputeNextStep(int sketch_width, int sketch_height, float frame_rate) {
      step = (int)((step+1) % frame_rate);
      float sin_value = abs(sin(PI/2.0 + (PI*step/(float)frame_rate)));
      float bounce_height = sketch_height/2 * sin_value;
      float ball_height = sketch_height - (bounce_height + h);
      y = (int) (ball_height);
    }

    void draw() { rect(x+xoffset,(y-h/2)+yoffset,w,h); }

    boolean mouseOver(int mx, int my) {
      return x<=mx && mx<=x+w && (y-h/2)<=my && my<=(y+h/2);
    }
  }
</script>
<canvas  id="my_canvas1"> </canvas>
<canvas id="my_canvas3"> </canvas>
<canvas id="my_canvas5"> </canvas>
<hr>
<canvas id="my_canvas2"> </canvas>
<canvas id="my_canvas4"> </canvas>
<canvas id="my_canvas6"> </canvas>
</body>
</html>